@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

.mainWrapper {
  height: 100vh;
}

body {
  font-family: 'Rubik' !important;
}

.loadingStage {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tryAgainButton {
  border: none;
  background-color: rgb(201, 194, 181);
  font-size: 1.5rem;
  border-radius: 15px;
  padding: 5px 10px;
  transition: all 0.5s linear;
}

.tryAgainButton:hover {
  background-color: rgb(176, 163, 137);
  scale: 1.1;
}

.upperImage {
  height: 300px;
  z-index: 1;
  background-image: url('../images/pattern-bg-desktop.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 40px;
  align-items: center;
  gap: 20px;
  position: absolute;
  width: 100%;
}

.containerForInputs {
  max-width: 50%;
  min-width: 300px;
}

.ipInput {
  height: 50px;
  border-radius: 15px 0 0 15px !important;
}

.labelIp {
  font-size: 50px;
  font-weight: 700;
  color: white;

  @media only screen and (max-width: 424px) {
    font-size: 43px;
  }
}

.inputGroupText {
  background-color: rgb(74, 65, 65) !important;
  border: none !important;
  border-radius: 0 15px 15px 0 !important;
  transition: ease-in-out 500ms;
}

.inputGroupText:hover {
  cursor: pointer;
  background-color: rgb(128, 77, 77) !important;
}
